# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env/
ENV/

# OS files
.DS_Store
Thumbs.db

# Flask/Flask-Caching logs or files
instance/
.webassets-cache
*.log

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
